html, body {
	font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#main-body {
	width: 97%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#main_logo {
	float: left;
	height: 15vh;
  /*width: 19vw;*/
}

#main_header {
	font-family: 'Roboto', sans-serif;
	padding-top: 40px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: #0066ff;
}

#main_header a h1 {
  font-weight: 900;
}

#branch {
	font-size: x-large;
}

#address_header {
	padding-top: 40px;
  text-align: left;
	font-size: small;
  font-weight: bold;
}

#address_header p {
	margin-bottom: 2px;
}

#main_page_nav a {
	text-decoration: none;
	color: white;
  /*text-transform: uppercase;*/
}

#form_logo {
  width: 100px;
}

#policyReviewModalLabel {
  margin-left: 50px;
  margin-top: 20px;
}

#pol_review_ctrl_no {
  font-size: 10px;
}

#pol_review_title {
  font-size: 15px;
}